.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.speedDial .MuiButtonBase-root {
    border-radius: 100%;
    margin: 10px;
    background-color: white;
    color: #666666;
}

.my-orders-container {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem;
}

#productListHeading {
    font: 400 2rem 'Roboto';
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.637);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
}

.order-table {
    background-color: white;
    border: none !important;
}

.order-table div {
    font: 300 1vmax 'Roboto';
    color: rgba(0, 0, 0, 0.678);
    border: none !important;
}

.order-table a {
    color: orange;
    transition: all 0.5s;
    text-decoration: none;
    padding: 2px;
}

.order-table a:hover {
    color: rgb(205, 133, 0);
}

.order-table button {
    color: red;
    transition: all 0.5s;
    padding: 1px;
}

.order-table button:hover {
    color: rgb(203, 0, 0);
}

.order-table .image-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-table .actions-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.order-table img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    padding: 10px;
}

.table-cell {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .order-table div {
        font: 300 4vw 'Roboto';
    }

}