.paymentMainContainer {
    padding: 30px;
}

.paymentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.paymentForm {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.paymentForm h5 {
    margin-bottom: 20px;
}

.paymentInputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.paymentIcon {
    margin-right: 10px;
    font-size: 20px;
}

.paymentInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.paymentFormBtn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(192, 4, 192);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.paymentFormBtn:hover {
    background-color: rgb(163, 3, 163);
}

@media (max-width: 480px) {
    .paymentForm {
        width: 100%;
    }
}