.home-banner {
  background-image: url("../../images/HomeBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.home-banner>h1 {
  margin: 5vh;
  font: 600 2.5vmax "Roboto";
}

.home-banner>p {
  font: 300 1.4vmax "Lucida Sans";
}

.home-banner>a>button {
  margin-bottom: 5vh;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vh;
  transition: all 0.5s;
  width: 8vh;
  height: 9vh;
  color: black;
  font: 700 2vh "Roboto";
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  outline: none;
  border-radius: 100%;
}

.home-banner>a>button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.home-banner::after {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}

.home-heading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vh auto;
  color: rgba(0, 0, 0, 0.7);
}

.product-container {
  display: flex;
  margin: 2vh auto;
  width: 95vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}