.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.my-orders-container {
    margin: 20px;
    padding: 40px;
    min-height: 100vh;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    overflow-x: auto;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    white-space: nowrap;
}

.order-table th,
.order-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.order-table th {
    background-color: #f2f2f2;
}

.order-table tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.status {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
}

.failed,
.Processing {
    color: #ff9800;
}

.succeeded,
.Delivered {
    color: #4caf50;
}

@media screen and (max-width: 768px) {
    .my-orders-container {
        padding: 20px;
    }

    .order-table {
        font-size: 14px;
    }

    .order-table th,
    .order-table td {
        padding: 8px;
    }

    h2 {
        font-size: 24px;
    }

    /* Responsive styles for mobile devices */
    .table-container {
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    .order-table {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .order-table th,
    .order-table td {
        min-width: 150px;
    }
}