.footer {
  padding: 20px;
  background-color: black;
  color: white;
  margin-top: 1px;
  display: block;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footerSection {
  flex: 1 1 33%;
  text-align: center;
  margin-bottom: 20px;
}

.footerSection h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footerSection p {
  font-size: 14px;
  margin-bottom: 10px;
}

.appIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.appIcons img {
  width: 80px;
  margin: 0 10px;
  cursor: pointer;
}

.footerSection h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.footerSection p:last-child {
  margin-bottom: 0;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcon {
  margin: 0 8px;
  transition: all 0.3s;
}

.socialIcon:hover {
  color: #FF69B4;
  transform: scale(1.2);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#footer {
  margin-top: auto;
}